@font-face {
	font-family: "tit";
	src: url("../../font/Chunkfive.ttf");
}
@font-face {
	font-family: "opc";
	src: url("../../font/Weston.otf");
}
@font-face {
	font-family: "san";
	src: url("../../font/Sancreek-Regular.ttf");
}
@font-face {
	font-family: "open";
	src: url("../../font/OpenSans.ttf");
}
.borda{
  border: 2px solid black;
}
.font_op{
  font-family: "open";
}
.open{
  font-family: "open";
  text-align: justify;
  color:black;
  font-size: 23px;
  font-weight: bold;
}
.san{
  font-family: "san";
}
.tit{
  font-family: "tit";
}
.opc{
  font-family: "opc";
}
.font1{
  color: black !important;
}
.font2{
  color: #662f1d !important;
}
.font3{
  color: #e4d581 !important;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
}
body{
  background-color:#e4d581;
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  flex-direction:row;
  align-items: center;
  border: 3px solid #491a0a;  
  padding: 10px 20px;
  position: relative;
}

.brand-container{
  display: flex;
  align-items: center;
}

.navbar-brand.titulo{
  font-family: "san";
  color: #e8ddaf;
  font-size: 30px;
}
.navbar-brand.titulo:hover {
  color: #e8ddaf;
}
.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 25px;
  margin-left: auto;
  flex: 1;
  margin: 0;
  padding: 0;
}
.menu-img-logo{
  height: 50px;
}
.navbar-links .nav-link {
  position: relative;  
  font-family: "opc";
}
.navbar-links .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* altura da linha */
  bottom: 0;
  left: 0;
  background-color: #340f02; /* cor da linha */
  transition: 0.5s; 
}
.navbar-links .nav-link:hover::after {
  width: 100%; 
}
.menu{
  display: none;
  width: 40px;
  height: 40px;
}
#sidebar hr{
  display: none;
  margin: 0;
}
footer{
  background-color: #491a0a;
}
.bg-footer{
  background-image: url("../../img/footer.png");
    background-position: center center; /* centraliza a imagem */
    background-repeat: no-repeat;       /* não repete */
    background-size: 100% 100%;         /* ajusta largura e altura da div */
}
.bg-footer2{
    background-image: url("../../img/footer2.png");
    background-position: center center; /* centraliza a imagem */
    background-repeat: no-repeat;       /* não repete */
    background-size: 100% 100%;         /* ajusta largura e altura da div */
}

.txtfooter{
  color: #e8ddaf;
  font-size: 50px;
}
.icon-footer{
  width: 60px; 
  height: 60px;
}
.format{
  margin-top: 3vw;
  
}
.subfooter{
  font-family: "tit";
  color:#8d5b49;
}
.imgfooter{
  height: 15vw;
}
.txtf{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: beige;
  margin-top: 5vw;
}
.txtadivinha{
  font-size: 20px !important;
  color:black;
}
.inputind{
  background-color: #e8ddaf;
  font-family: "open";
  font-weight: bold;
}
.num{
  color: #e8ddaf;
}
.pnum{
  font-size: 100px;
  color: #ac7c42;
}
.resul_txt{
  font-size: 60px !important;
}
.fundim{
  border-radius: 3vw;
  background-color: #ac7c42;
  border: 2px solid #491a0a;
}
a{
  text-decoration: none;
}
.local{
    width: 530px;
    height: 210px;
}
/* 

*/
/* Responsividade */

/* telas entre 992px e 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
  .local {
    width: 450px; 
  }
  .card-body{
    margin-top: -2vw !important;
  }
  .xerifinho_footer{
      width: 230px !important;
  }

}

/* tablets na horizontal */

@media (max-width: 838px) {
      .xerifinho_footer{
      width: 190px !important;
  }
  .txtfooter{
    font-size: 35px;
  }
  .icon-footer{
    width: 42px;
    height: 40px;
  }
  .txtf{
    font-size: 15px;
  }
}
@media (min-width: 839px) and (max-width: 992px) {
    .xerifinho_footer{
      width: 220px !important;
  }
  .txtfooter{
    font-size: 35px;
  }
  .icon-footer{
    width: 42px;
    height: 40px;
  }
  .txtf{
    font-size: 15px;
  }
  .navbar-links{
    gap:10px;
  }
}

/* @media (max-width: 769px) and (min-width: 640px) {
  .navbar-links {
    gap: 10px;
  }
}  */

/* tablets na vertical */
@media (min-width: 577px) and (max-width: 768px) {
  .bg-footer{
  display: none;
  }
  .bg-footer2{
    display: none;
  }
  .xerifinho_footer{
    display: none;
  }
  /* .brand-container img{
    display: none;
  } */
  .menu{
    display: block;
  }
  .nav-link::after{
    display: none;
    content:none;
  }
  #sidebar {
    position:fixed;
    top:0;
    left: -300px;  
    height: 100%;
    width: 250px;
    background-color:#814D3B;
    flex-direction: column;
    border: 3px solid #491a0a;
    z-index: 1000;
  }
  #sidebar hr{
    display: block;
    border: none;
    border-top: 2px solid #491a0a;
    margin: 10px 0;
  }
  .navbar-links{
    align-items: flex-start;
  }
  .nav-item{
    margin-left: 20px;
  }
  #overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 900;
    display: none;
  }
}

/* celulares */
@media (max-width: 576px) {
  .bg-footer{
  display: none;
  }
  .bg-footer2{
    display: none;
  }
  .xerifinho_footer{
    display: none;
  }
  .nav-link::after{
    display: none;
    content:none;
  }
}

